.header {
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between; /* Keeps items spaced out */
  align-items: center;
  border-bottom: 1px solid $white-offset;
  padding: 10px 0;
  margin: 20px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Optional: constrain header width */
    margin-left: auto + 10px;
  }

  .logo {
    margin-left: 5%;
    margin-right: 25%; /* Increase space between logo and navigation */
  }

  .logo-mobile {
    display: none; /* Hidden by default unless for mobile */
  }

  @include media-breakpoint-down(md) {
    .logo {
      margin-right: 20px; /* Reduce spacing for smaller screens */
    }

    .logo-mobile {
      display: block; /* Show mobile logo on smaller screens */
    }
  }

  nav {
    display: flex;
    gap: 25px; /* Adds space between navigation links */
  }

  a {
    font-size: 18px;
    font-weight: bold;
    color: $primary;
    text-decoration: none;
    margin-right: 15px;
  }
}
